<% provide(:title, 'Pick a sauce') %>

<h1>Pick a sauce</h1>
<div class='row-fluid'>

	<div class='span7'>
		<div class='make-line'>
			<div class='make-line-trays'>

				<div data-sauce='pizza-sauce' class='make-line-tray center btn btn-small btn-secondary'>
					<span>pizza sauce</span>
					<%= image_tag 'pizza-sauce.jpg' %>
				</div>

				<div data-sauce='pesto' class='make-line-tray center btn btn-small btn-secondary'>
					<span>pesto</span>
					<%= image_tag 'pesto.jpg' %>
				</div>

				<div data-sauce='bbq-sauce' class='make-line-tray center btn btn-small btn-secondary'>
					<span>bbq</span>
					<%= image_tag 'bbq-sauce.jpg' %>
				</div>

				<div data-sauce='hot-sauce' class='make-line-tray center btn btn-small btn-secondary'>
					<span>hot sauce</span>
					<%= image_tag 'hot-sauce.jpg' %>
				</div>

				<div data-sauce='sour-cream' class='make-line-tray center btn btn-small btn-secondary'>
					<span>sour cream</span>
					<%= image_tag 'sour-cream.jpg' %>
				</div>
			</div> <!-- /div.make-line-trays -->

			<div class='center'>
				<%= render 'make_line_surface' %>
			</div> 
		</div>
	</div>

	<div class='span5'>
		<div class='explanation'>
			Addtl. info about the page. Addtl. info about the page. Addtl. info about the page. Addtl. info about the page.
		</div>
	</div>

</div> <!-- /div.make-line -->

<div class='row pull-right'>
	<%= link_to "Add Cheese »", order_pages_cheese_path, class: 'btn btn-large btn-primary' %>
</div>

<script type='text/javascript'>
	$(document).ready(function() {
		saucePresenter( orderModel(), makeLineCanvasView() ).initialize();
	});
</script>