<h1>Listing ingredients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Icon image</th>
    <th>Brush image</th>
    <th>Price</th>
  </tr>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= ingredient.ingredient_type %></td>
    <td><%= ingredient.icon_image %></td>
    <td><%= ingredient.brush_image %></td>
    <td><%= ingredient.price %></td>
  </tr>
<% end %>
</table>

<br />
