<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Type:</b>
  <%= @ingredient.ingredient_type %>
</p>

<p>
  <b>Icon image:</b>
  <%= @ingredient.icon_image %>
</p>

<p>
  <b>Brush image:</b>
  <%= @ingredient.brush_image %>
</p>

<p>
  <b>Price:</b>
  <%= @ingredient.price %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
